.chat-bot {
  width: 100%;
  position: relative;
  background: linear-gradient(270deg, #f2f9ff, #f9fcff);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 1px 24px;
  gap: 364.5px;
  flex-shrink: 0;
}
.container2 {
  height: 40px;
  width: 127.9px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.asset-4-1,
.asset-5-1 {
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.asset-5-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 47px;
}
.asset-4-1 {
  width: 77px;
}
.heading-1 {
  height: 32px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.container-wrapper {
  flex-direction: column;
  padding: 8px 0 0;
}
.button,
.container-wrapper,
.container3 {
  display: flex;
  align-items: flex-start;
}
.container3 {
  margin: 0;
  width: 335.1px;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--1);
  font-family: Outfit;
}
.button {
  height: 24px;
  width: 42.7px;
  padding: 0 0 0.5px;
  box-sizing: border-box;
}
.home {
  height: 24px;
  width: 43px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.button2 {
  height: 24px;
  width: 75.3px;
  display: flex;
  align-items: flex-start;
  padding: 0 0 0.5px;
  box-sizing: border-box;
}
.simulation {
  height: 24px;
  width: 76px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.button3 {
  height: 24px;
  width: 58.4px;
  display: flex;
  align-items: flex-start;
  padding: 0 0 0.5px;
  box-sizing: border-box;
}
.patients {
  height: 24px;
  width: 59px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.button4 {
  height: 24px;
  width: 62.7px;
  display: flex;
  align-items: flex-start;
  padding: 0 0 0.5px;
  box-sizing: border-box;
}
.progress {
  height: 24px;
  width: 63px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.container4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 25769800px;
  background: linear-gradient(
    135deg,
    var(--1),
    #8d7fff 10%,
    #8f82ff 20%,
    #9285ff 30%,
    #9588ff 40%,
    #988bff 50%,
    #9a8eff 60%,
    #9d91ff 70%,
    #a094ff 80%,
    #a397ff 90%,
    #a69aff
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.dr {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Outfit;
  color: #f8fbff;
  text-align: left;
}
.frame-parent {
  width: 1288px;
  height: 562px;
  background-color: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  gap: 10px;
  max-width: 100%;
}
.frame-group,
.tests-wrapper {
  border-radius: 25px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.frame-group {
  height: 631px;
  width: 275px;
  background: var(--Background-2);
  overflow-y: auto;
  flex-direction: column;
  isolation: isolate;
  gap: 32px;
  z-index: 0;
  text-align: left;
  font-size: 18px;
  color: var(--Chat);
  font-family: Outfit;
}
.tests-wrapper {
  align-self: stretch;
  background: var(--Background);
  overflow: hidden;
  justify-content: center;
  padding: 5px 98px;
  z-index: 3;
  font-size: 22.7px;
  color: var(--2);
  font-family: "DM Sans";
}
.tests {
  margin: 0;
  height: 30px;
  width: 62px;
  position: relative;
  font-size: inherit;
  line-height: 26.5px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.urine-parent {
  width: 249px;
  background-color: rgba(255, 255, 255, 0.01);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  box-sizing: border-box;
  gap: 20px;
  z-index: 2;
}
.test1-100,
.test2-200,
.urine {
  align-self: stretch;
  height: 30px;
  position: relative;
  display: inline-block;
}
.urine {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  font-family: "DM Sans";
  color: var(--2);
  text-align: center;
}
.test1-100,
.test2-200 {
  line-height: 28px;
  white-space: pre-wrap;
}
.test2-200 {
  height: 26px;
}
.blood-parent {
  width: 249px;
  background-color: rgba(255, 255, 255, 0.06);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  box-sizing: border-box;
  gap: 20px;
  z-index: 1;
}
.action-buttons-parent {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  z-index: 0;
}
.action-buttons {
  cursor: pointer;
  border: 1px solid var(--1);
  padding: 12px 25px;
  background-color: var(--3);
  align-self: stretch;
  height: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abort-case-wrapper:hover,
.action-buttons:hover,
.hints-wrapper:hover {
  background-color: #d9dbde;
  border: 1px solid #7063e6;
  box-sizing: border-box;
}
.see-images {
  position: relative;
  font-size: 17.3px;
  line-height: 26px;
  font-weight: 600;
  font-family: Outfit;
  color: var(--1);
  text-align: left;
}
.frame-container {
  height: 550px;
  width: 714px;
  border-radius: 25px;
  background-color: rgba(242, 244, 255, 0.66);
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 27px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 22.7px;
  color: var(--2);
  font-family: "DM Sans";
}
.frame-div,
.john-michiell-wrapper {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.frame-div {
  width: 714px;
  border-radius: 25px;
  background: var(--Background);
  gap: 297px;
  max-width: 100%;
}
.john-michiell-wrapper {
  height: 48px;
  width: 255px;
  background-color: transparent;
  justify-content: center;
}
.john-michiell {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 26.5px;
  font-weight: 600;
  font-family: inherit;
}
.cardiology-wrapper {
  height: 36px;
  width: 110px;
  border-radius: 145px;
  background-color: rgba(254, 242, 242, 0.54);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #c10007;
  font-family: Inter;
}
.cardiology {
  width: 87px;
  position: relative;
  line-height: 145%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent2,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-parent2 {
  width: 701px;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  font-size: 16px;
  color: var(--Chat);
  font-family: Inter;
}
.frame-wrapper {
  flex-direction: column;
  padding: 72px 0 0;
}
.doctor-iam-having-chest-pain-wrapper {
  width: 281px;
  height: 63px;
  border-radius: 25px;
  background: var(--Background-2);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 12px 23px;
  box-sizing: border-box;
}
.doctor-iam-having {
  position: relative;
  line-height: 145%;
  font-weight: 600;
}
.frame-parent3,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
}
.frame-parent3 {
  gap: 6px;
  max-width: 100%;
  color: #35384a;
}
.frame-wrapper2 {
  flex-direction: column;
  padding: 162px 0 0;
}
.polygon-parent,
.what-other-symptoms-you-have-wrapper {
  border-radius: 25px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.what-other-symptoms-you-have-wrapper {
  width: 307px;
  height: 65px;
  background: linear-gradient(
    135deg,
    rgba(138, 124, 255, 0.24),
    rgba(166, 154, 255, 0.24)
  );
  padding: 12px 16px;
  box-sizing: border-box;
}
.polygon-parent {
  width: 18px;
  background: var(--Background-2);
}
.frame-child,
.frame-item {
  width: 14px;
  height: 15px;
  position: relative;
  border-radius: 2px;
}
.frame-item {
  width: 7px;
  height: 438px;
  border-radius: 100px;
  background-color: #c3b7d3;
  overflow: hidden;
  flex-shrink: 0;
}
.patient-data-summary-parent {
  height: 436px;
  width: 249px;
  border-radius: 25px;
  background: var(--Background-2);
  gap: 47px;
  z-index: 2;
  text-align: left;
  font-size: 16px;
  color: var(--2);
  font-family: Inter;
}
.patient-data-summary,
.patient-data-summary-parent,
.summary-descriptors {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.patient-data-summary {
  width: 201px;
  height: 149px;
  padding: 16px 0;
  box-sizing: border-box;
  gap: 20px;
}
.summary-descriptors {
  align-self: stretch;
}
.years {
  width: 87px;
  position: relative;
  line-height: 145%;
  font-weight: 600;
  display: inline-block;
}
.summary-descriptors2 {
  border-radius: 25px;
  background-color: #f2fef4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  flex-shrink: 0;
  color: #096;
}
.nervous-irritable-defensive {
  width: 177px;
  height: 56px;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-family: Outfit;
  color: var(--Chat);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.abort-case-wrapper,
.hints-wrapper {
  cursor: pointer;
  padding: 12px 25px;
  background-color: var(--3);
  border-radius: 50px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hints-wrapper {
  border: 1px solid var(--1);
  width: 126px;
  height: 60px;
}
.abort-case-wrapper {
  border: 1px solid #c10007;
  width: 201px;
  height: 68px;
}
.abort-case-wrapper:hover {
  border: 1px solid #e8262e;
}
.abort-case {
  position: relative;
  font-size: 17.3px;
  line-height: 26px;
  font-weight: 600;
  font-family: Outfit;
  color: #c10007;
  text-align: left;
}
.frame-wrapper3,
.make-diagnosis-wrapper {
  border-radius: 25px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-wrapper3 {
  height: 103px;
  width: 249px;
  margin: 0 !important;
  position: absolute;
  right: 20px;
  bottom: 2px;
  background: var(--Background);
  flex-direction: column;
  z-index: 3;
}
.make-diagnosis-wrapper {
  cursor: pointer;
  border: 1px solid var(--1);
  padding: 12px 25px;
  background-color: transparent;
  width: 209px;
  height: 60px;
  background: linear-gradient(
    90deg,
    #8070ff,
    #9587ff 35.1%,
    #a195ff 73.56%,
    #aba0ff
  );
  box-sizing: border-box;
  overflow: hidden;
}
.make-diagnosis-wrapper:hover {
  background-color: rgba(112, 99, 230, 0.09);
  border: 1px solid #7063e6;
  box-sizing: border-box;
}
.make-diagnosis {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  font-family: Outfit;
  color: #fff;
  text-align: left;
}
.button5,
.frame-input,
.frame-parent5 {
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-parent5 {
  width: 993px;
  height: 69px;
  background: var(--Background);
  overflow: hidden;
  justify-content: center;
  padding: 9px 16px;
  gap: 17px;
}
.button5,
.frame-input {
  border: 0;
}
.frame-input {
  width: 100%;
  outline: 0;
  background-color: #f6f5ff;
  height: 54px;
  overflow: hidden;
  padding: 13px 28px;
  font-family: Outfit;
  font-size: 18px;
  color: rgba(81, 84, 104, 0.73);
}
.button5 {
  cursor: pointer;
  padding: 12px 21px 12px 22px;
  background-color: transparent;
  height: 57px;
  width: 74px;
  background: var(--Main);
  justify-content: center;
}
.icon {
  height: 31px;
  width: 31px;
  position: relative;
}
@media screen and (max-width: 750px) {
  .container {
    gap: 182px;
  }
  .container3 {
    display: none;
    gap: 20px;
  }
  .frame-container {
    height: auto;
  }
  .frame-div {
    gap: 148px;
    flex-wrap: wrap;
  }
  .frame-parent2 {
    flex-wrap: wrap;
    gap: 20px;
  }
  .frame-parent3,
  .frame-wrapper {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .container {
    gap: 91px;
  }
  .frame-group {
    gap: 16px;
  }
  .tests-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .tests {
    font-size: 18px;
    line-height: 21px;
  }
  .urine {
    font-size: 21px;
    line-height: 24px;
  }
  .frame-div {
    gap: 74px;
  }
  .doctor-iam-having-chest-pain-wrapper,
  .what-other-symptoms-you-have-wrapper {
    gap: 22px;
  }
}
