body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Common Style Variables */

  /* Color */
  --1: #8a7cff;
  --2: #5046a3;
  --3: #f1f4f8;
  --5: rgba(138, 124, 255, 0.2);
  --111: #1a1d2e;
  --Chat: #6b7280;
  --Style: rgba(45, 39, 97, 0.51);

  /* Gradients */
  --10: radial-gradient(
    76.07% 75.94% at 50% 41.56%,
    #eff3ff,
    #e8e6fc 25.21%,
    rgba(183, 174, 253, 0.62) 61.23%,
    rgba(138, 124, 255, 0.83)
  );
  --21: rgba(230, 244, 255, 0.49) padding-box,
    linear-gradient(
        90deg,
        var(--1),
        #8d7fff 10%,
        #8f82ff 20%,
        #9285ff 30%,
        #9588ff 40%,
        #988bff 50%,
        #9a8eff 60%,
        #9d91ff 70%,
        #a094ff 80%,
        #a397ff 90%,
        #a69aff
      )
      border-box;
  --Main: linear-gradient(
    90deg,
    var(--1),
    #8d7fff 10%,
    #8f82ff 20%,
    #9285ff 30%,
    #9588ff 40%,
    #988bff 50%,
    #9a8eff 60%,
    #9d91ff 70%,
    #a094ff 80%,
    #a397ff 90%,
    #a69aff
  );
}
